<!DOCTYPE html>
<html>
<%- include('head.ejs', {title: 'Página principal' }); %>

    <body>
        <div class="container">
            <%- include('navbar.ejs', { isAdmin: isAdmin }); %>
    
            <% if (isAdmin) { %>
                
                <h3>Dados dos Alunos:</h3>
                <ul>
                    <% studentFormData.forEach(function (formData) { %>
                        <li>
                            <p>Nome: <%= formData.nomeMembroUMa %></p>
                            <p>Número Mecanográfico: <%= formData.numberMembroUMa %></p>
                            
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                
            <% } %>
        </div>
    </body>

</html>