<!DOCTYPE html>
<html>

  <%- include('head.ejs', {title: 'Pedir passe'}); %>

<body>
    <div class="container">
        <header>
            <%- include('navbar.ejs'); %>
        </header>

        <h3 class="text-center mt-3">Pedir Passe</h3>

        <div class="shadow-lg p-3 mt-3 bg-white rounded">
            <form action="/getPass" method="post" enctype="multipart/form-data">

                <!-- nome do membro da UMa-->
                <div class="form-group">
                    <label for="nomeMembroUMa">Nome <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="nomeMembroUMa" id="nomeMembroUMa" placeholder="Nome"
                        required>
                </div>

                <!-- numero do membro da UMa -->
                <div class="form-group">
                    <label for="numberMembroUMa">Número mecanográfico <span style="color: red;">*</span></label>
                    <input type="number" class="form-control" name="numberMembroUMa" id="numberMembroUMa"
                        placeholder="ex: 2078320" required>
                </div>

                <!-- Foto CC do membro da UMa -->
                <div class="form-group">
                    <label for="CCMembroUMa">Cartão de cidadão (frente e verso .jpg) <span
                            style="color: red;">*</span></label>
                    <input type="file" class="form-control" name="CCMembroUMa" id="CCMembroUMa" required multiple>
                </div>

                <!-- Foto do cartão do membro da UMa -->
                <div class="form-group">
                    <label for="cartaoMembroUMa">Foto do cartão (.jpg)<span style="color: red;">*</span></label>
                    <input type="file" class="form-control" name="cartaoMembroUMa" id="cartaoMembroUMa" required multiple>
                </div>

                <div class="form-group">
                    <label for="tipoPasse">Tipo de passe <span style="color: red;">*</span></label>
                    <select name="tipoPasse" id="tipoPasse" required>
                        <option value=""></option>
                        <option value="Urbano">Urbano</option>
                        <option value="Interurbano">Interurbano</option>
                    </select>
                </div>

                <div id="arquivoInterurbano" style="display: none;">
                    <div class="form-group">
                        <label for="comprovativoMorada">Arquivo Interurbano <span style="color: red;">*</span></label>
                        <input type="file" class="form-control" name="comprovativoMorada" id="comprovativoMorada" multiple>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-dark">Submeter requisito</button>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                $('#tipoPasse').change(function () {
                    if ($(this).val() === 'interurbano') {
                        $('#arquivoInterurbano').show();
                    } else {
                        $('#arquivoInterurbano').hide();
                    }
                });
            });
        </script>
    </div>
</body>

</html>
