<!DOCTYPE html>
<html>
    <%- include('head.ejs', {title: 'Página principal'}); %>

    <body>
	<div class="container">

	    <%- include('navbar.ejs', {isAdmin: isAdmin}); %>
	    <div class="shadow-lg p-3 mt-3 bg-white rounded">
		<div class="row">
		    <!-- Lado direito do ecrã -->
		    <div class="col-md-6 justify-content-center d-flex">
			<div class="my-auto text-center dropdown">
			    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Consultar Horários
			    </a>
			    
			    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="#">18:00</a>
				<a class="dropdown-item" href="#">19:00</a>
				<a class="dropdown-item" href="#">20:00</a>
			    </div>
			</div>
		    </div>

		    <!-- Lado direito do ecrã -->
		    <div class="col-md-6">
			<div class="d-flex justify-content-end card width: 90%;">
			    <div class="card-body">
				<img src="/img/bus1.jpg" class="img-fluid">
			    </div>
			</div>
		    </div>
		</div>
	    </div>      
    </body>
</html>
