<!DOCTYPE html>
<html>
  <head>
    <title>Página inicial</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            background-color: rgb(221, 224, 221); 
        }
    </style>
  </head>

  <body>
    <div class="container">
        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 rounded">
            <a class="navbar-brand" href="#">Horários do Funchal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" 
            aria-controls="conteudoNavbarSuportado" aria-expanded="false">
            </button>
          
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Horários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paragens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Passe</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

    <div class="shadow-lg p-3 mt-3 bg-white rounded">
        <div class="row">
            <!-- Lado direito do ecrã -->
            <div class="col-md-6">
                <div class="text-center dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultar Horários
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">18:00</a>
                        <a class="dropdown-item" href="#">19:00</a>
                        <a class="dropdown-item" href="#">20:00</a>
                    </div>
                </div>
            </div>

            <!-- Lado direito do ecrã -->
            <div class="col-md-6">
                <div class="d-flex justify-content-end card width: 90%;">
                    <div class="card-body">
                        <img src="./images/bus1.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>      
  </body>
</html>
