<!DOCTYPE html>
<html>
    <%- include('head.ejs', {title: 'Página principal'}); %>

    <body>
	<div class="container">

	    <%- include('navbar.ejs', {isAdmin: isAdmin}); %>
            <div class="row my-auto">
		<div class="shadow-lg col p-4 m-3 bg-white rounded">
		    <div class="col-md-6 justify-content-center d-flex">
			<form action="/visualizar-horario" method="post" class="mt-3">
			    <div class="form-group">
				<label for="selectHorario">Carreiras UMa</label>
				<select name="horario" id="selectHorario" class="form-control mt-2">
				    <option value="">Selecionar carreira</option>
				    <option value="12">[12] Jamboto (via Hospital)</option>
				    <option value="15">[15] Álamos (via Achada)</option>
				    <option value="42">[42] Alegria</option>
				</select>
			    </div>
			    <button type="submit" class="btn btn-outline-dark mt-2">Ver Horário</button>
			</form>
		    </div>

		    <div class="col-md-6 justify-content-center d-flex">
			<form action="/visualizar-horario" method="post" class="mt-3">
			    <div class="form-group">
				<label for="selectHorario">Carreiras</label>
				<select name="horario" id="selectHorario" class="form-control mt-2">
				    <option value="">Selecionar carreira</option>
				    <option value="77">[77] Santo da Serra</option>
				    <option value="110">[110] Boqueirão (via Caniço)</option>
				    <option value="129">[129] Camacha</option>
				</select>
			    </div>
			    <button type="submit" class="btn btn-outline-dark mt-2">Ver Horário</button>
			</form>
		    </div>
		</div>
		<div class="shadow-lg col p-4 m-3 bg-white rounded">
		    <div class="d-flex justify-content-end card width: 90%;">
			<div class="card-body">
			    <img src="/img/bus1.jpg" class="img-fluid">
			</div>
		    </div>
		</div>
            </div>
	</div>      
    </body>
</html>
