<!DOCTYPE html>
<html>
<%- include('head.ejs', {title: 'Horários' }); %>

    <body>
        <div class="container">
            <%- include('navbar.ejs', {isAdmin: isAdmin}); %>
                <div class="shadow-lg p-3 mt-3 bg-white rounded">
                    <h3 class="text-center mt-3">Consultar Horários</h3>
                    <div class="row justify-content-center">
                        <div class="col-md-6 justify-content-center d-flex">
                            <form action="/horarios/visualizar-horario" method="post" class="mt-3">
                                <div class="form-group">
                                    <label for="selectHorario">Carreiras UMa</label>
                                    <select name="horario" id="selectHorario" class="form-control">
                                        <option value="">Selecionar carreira</option>
                                        <option value="12">[12] Jamboto (via Hospital)</option>
                                        <option value="15">[15] Álamos (via Achada)</option>
                                        <option value="42">[42] Alegria</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-dark">Ver Horário</button>
                            </form>
                        </div>

                        <div class="col-md-6 justify-content-center d-flex">
                            <form action="/horarios/visualizar-horario" method="post" class="mt-3">
                                <div class="form-group">
                                    <label for="selectHorario">Carreiras</label>
                                    <select name="horario" id="selectHorario" class="form-control">
                                        <option value="">Selecionar carreira</option>
                                        <option value="77">[77] Santo da Serra</option>
                                        <option value="110">[110] Boqueirão (via Caniço)</option>
                                        <option value="129">[129] Camacha</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-dark">Ver Horário</button>
                            </form>
                        </div>
                    </div>
                    <% if(carreira_error == true) { %>
                        <div class="text-center mt-3">
                            <p class="text-danger">Selecione uma carreira</p>
                        </div>
                    <% } %>
                </div>
        </div>
    </body>

</html>