<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 rounded">
  <a class="navbar-brand" href="#">Horários do Funchal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado"
    aria-expanded="false"
  ></button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Horários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Paragens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Passe</a>
      </li>

      <% if(typeof isAdmin !== 'undefined') { %> <% if (isAdmin == true ){%>
      <li class="nav-item">
        <a class="nav-link" href="#">Gerir</a>
      </li>
      <% } %><% } %>
    </ul>
  </div>
</nav>
