<!DOCTYPE html>
<html>
  <%- include('head.ejs', {title: 'Pedir passe'}); %>

  <body>
    <div class="container">
        <header>
          <%- include('navbar.ejs'); %>
        </header>

        <div class="mt-3 p-3 rounded border bg-light">
          <% if(hasPass == false) { %>
            <% if(getPass == false) { %>
              <a href="/getPass" class="btn btn-outline-dark btn-lg btn-block mt-3" role="button">Pedir passe</a>
            <% } else { %>
              <% if(emittedPass == false) { %>
                <h3 class="text-center mt-3">A emisão do passe ainda está em análise</h3>
              <% } %>
            <% } %>
          <% } else { %>
            <% if(payed == false) { %>
              <label class="mt-3">Pagamento</label></br>
              <a href="/payment" class="btn btn-outline-dark btn-lg btn-block mt-1" role="button">Pagar próximo mês</a>
            <% } %>
            <label class="mt-3">Tipo de passe: <%= typePass %></label></br>
            <% if(changePass == true) { %>
              <label class="mt-2">Pedido de mudança de passe efetuado!</label>
            <% } else { %>
              <a href="/getPass/tipo" class="btn btn-outline-dark btn-lg btn-block mt-1">Mudar tipo de passe</a>
            <% } %>
            <% if(payed == true) { %>
              <label class="mt-3">Comprovativo</label></br>
              <a href="/payment/check" class="btn btn-outline-dark btn-lg btn-block mt-1" role="button">Obter comprovativo</a>
            <% } %>
          <% } %>
        </div>
    </div> 

  </body>
</html>
