<!DOCTYPE html>
<html>
  <%- include('head.ejs', {title: 'Pedir passe'}); %>

  <body>
    <div class="container">
        <header>
          <%- include('navbar.ejs'); %>
        </header>

        <div class="mt-3">
            <button type="button" class="btn btn-outline-dark btn-lg btn-block">Pedir passe</button><br>
            <button type="button" class="btn btn-outline-dark btn-lg btn-block">Pagar próximo mês</button><br>
            <button type="button" class="btn btn-outline-dark btn-lg btn-block">Mudar tipo de passe</button><br>
            <button type="button" class="btn btn-outline-dark btn-lg btn-block">Obter comprovativo</button><br>
        </div>
    </div> 

  </body>
</html>
